<h1>Here are all the Owners and their Pets</h1>
<h2>Go ahead and add a pet to any of the Owners</h2>
<% Owner.all.each do |person| %>
  <% if person.pets.empty? %>
    <br><h2><%= person.name + " has no pets." %></h2>
    <form action="burd/owners" method="POST">
      <label>new pet</label>
      <input type="text" name="pet[name]" />

  <% else %>
    <br><h2><%= person.name %></h2>

      <input type="submit" />
    </form>

    <ul>
      <% person.pets.each do |petname| %>
        <li><%= petname.name %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
